<!DOCTYPE>
<html>
    <head>
        <title>Requests - NEKO Neighborhood Dashboard</title>
        <%- include('partials/top'); %>

        <div class = "row d-flex justify-content-center">
          <div class="col-md-12 col-lg-11 no-pad grey-text">
              <h2><b>Request for goods</b></h2>
              <h5>#StayHome #StaySafe</h5>
          </div>
      </div>

        <div class = "row d-flex justify-content-center top-pad">
          <div class="col-md-12 col-lg-11 whitebg">
          <form>
            <div class="form-group top-pad">
              <select class="form-control" id="cate">
                <option value="" disabled="" selected>I need...</option>
                <option>Grocery/Household Items</option>
                <option>Medicines</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="phone" placeholder="Phone Number"/>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="des" placeholder = "Briefly describle/list what you need..." rows="3"></textarea>
              <small id="emailHelp" class="form-text text-muted">P.S. Don't forget to thank your neighbour!</small>
            </div>
        
            <button type="button" onclick="req()" class="btn btn-primary">Submit</button>
          </form>    
          </div>   
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/static/js/login.js"></script>
    </body>

</html>