<html>
    <head>
        <title>Start - NEKO Neighborhood Dashboard</title>
        <%- include('partials/top'); %>
        
        <div class = "row d-flex justify-content-center">
            <div class="col-md-12 col-lg-11 no-pad grey-text">
                <h2><b>User Registeration</b></h2>
                <h5>Please choose from an option below. </h5>
            </div>
        </div>

        <div class = "row d-flex justify-content-center">
            <div class="col-md-6 col-lg-5 grey-text">
                <a href="/c/start/join"> <img src="/static/img/join.png" class="start-select"/> </a>
            </div>

            <div class="col-md-6 col-lg-5 grey-text">
                <a href="/c/start/new"> <img src="/static/img/new.png" class="start-select"/> </a>
            </div>
        </div>

        <%- include('partials/bottom'); %>
</html>