<html>
    <head>
        <title>Join - NEKO Neighborhood Dashboard</title>
        <%- include('partials/top'); %>
        
        <div class = "row d-flex justify-content-center">
            <div class="col-md-12 col-lg-11 no-pad grey-text">
                <h2><b>User Registeration</b></h2>
                <h5>Join an existing community. </h5>
            </div>
        </div>

        <div class = "row d-flex justify-content-center">
            <div class="col-md-4 col-lg-3 grey-text">
                <div class="card" id="login-box">
                    <div class="card-body text-center">
    
                      <form>
                        <div class="form-group">
                          <input type="text" class="form-control" id="name" placeholder="Name">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" id="hno" placeholder="House/Flat no.">
                          </div>
    
                        <div class="form-group">
                          <input type="text" class="form-control" id="pass" placeholder="Community ID">
                        </div>
    
                        <button type="button" onclick="join()" class="btn btn-primary">Join</button>
    
                      </form>
    
                    </div>
                  </div>
            </div>
        </div>

        <%- include('partials/bottom'); %>
</html>