#logo {
    position: relative;
    width: 200px;
    padding-bottom: 15px;
}
.full {
    height: 100%;
    align-items: center;
}
#login-box{
    box-shadow: 2px 10px 31px -6px rgba(166,166,166,1);
    border: none !important;
}
#info-box{
    box-shadow: 2px 10px 31px -6px rgba(166,166,166,1);
    border: none !important;
    width: 500px;
}
body {
    background: #EDEFF0;
    overflow-x: hidden;
    font-family: 'varela round';
    border-top: 7.5px solid blue;
    border-image-source: linear-gradient(to right, #3366FF, #0099FF) ;
    border-image-slice: 1;
}
header #logo{
    width: 150px;
    position: relative;
    padding-top: 5px;
}
.whitebg{
    background: white;
}
.top-pad {
    padding-top: 15px;
}
header {
    padding-bottom: 5px;
}
.no-pad{
    padding: 0;
}
.grey-text {
    color: #6A8299;
}
.start-select{
    width: 350px;

    padding-top: 20px;;
}
.card-help{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;

}

.dash-select{
    width: 350px;

    padding-top: 20px;;
}

@media (max-width: 992px) {

    .no-pad {
        padding-left: 15px;
    }

    .dash-select{
        width: 250px;
    
        padding-top: 20px;;
    }
 }

 @media (max-width: 1024px) {
    .dash-select{
        width: 250px;
    
        padding-top: 20px;;
    }
 }

 @media (max-width: 1400px) {
    .dash-select{
        width: 270px;
    
        padding-top: 20px;;
    }
 }